<app-base [solucoes]="true">
  <!-- =======================
Inner intro START -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Soluções</li>
              <li class="breadcrumb-item">Produtividade e Colaboração</li>
              <li class="breadcrumb-item active">Google Workspace</li>
            </ol>
          </nav>
          <h2 class="display-6">Google Workspace</h2>
          <p class="lead">Todas as ferramentas de produtividade e colaboração para todas as formas de trabalho, em um só
            lugar. Os planos do Google Workspace oferecem um e-mail personalizado para sua empresa e incluem ferramentas
            de colaboração como o Gmail, Agenda, Meet, Chat, Drive, Documentos, Planilhas, Apresentações, Formulários,
            Sites e muitas outras. </p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <>
    <!-- =======================
About service START -->
    <section class="pt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Uma solução segura e integrada</h3>
            <p class="lead">O Google Workspace ajuda as pessoas a se conectarem e serem produtivas através da
              comunicação unificada.
            </p>
            <img class="w-100" src="assets/images/fc/gws/workspace.webp" alt="Image">
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-xl-10 col-lg-10 col-md-12 col-12 mx-auto card-beneficios">
                <div class="row">
                  <div class="col-12">
                    <h5>Controle total e segurança avançada</h5>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-vault.svg">
                    <h6>Vault</h6>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-4 text-center">
                    <div class="row">
                      <div class="col-xl-8 col-lg-8 col-md-12 col-12 mx-auto"><img alt="gerenciamento-endpoints"
                          class="w-100" src="assets/images/fc/gws/i-beneficios-gerenciamento-endpoints.svg">
                      </div>
                      <div class="col-12 p-0 text-center">
                        <h6>Gerenciamento de endpoints</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="admin" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-admin.svg">
                    <h6>Admin</h6>
                  </div>
                  <div class="col-12">
                    <h5>Armazenamento de dados com total segurança</h5>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheets" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-sheets.svg">
                    <h6>Sheets</h6>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="slides" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-slides.svg">
                    <h6>Slides</h6>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sites" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-sites.svg">
                    <h6>Sites</h6>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="docs" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-docs.svg">
                    <h6>Docs</h6>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="forms" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-forms.svg">
                    <h6>Forms</h6>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="keep" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-keep.svg">
                    <h6>Keep</h6>
                  </div>
                  <div class="col-12">
                    <h5>Comunicação ágil e em tempo real</h5>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="agenda" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-agenda.svg">
                    <h6>Agenda</h6>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="chat" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-chat.svg">
                    <h6>Chat</h6>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="meet" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-meet.svg">
                    <h6>Meet</h6>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="mail" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-mail.svg">
                    <h6>Mail</h6>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="voice" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-voice.svg" style="padding: 10px;">
                    <h6>Voice</h6>
                  </div>
                  <div class="col-12">
                    <h5>Armazenamento de dados com total segurança</h5>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="drive" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-drive.svg">
                    <h6>Drive</h6>
                  </div>
                  <div class="col-12">
                    <h5>Automação de processos</h5>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                      src="assets/images/fc/gws/i-beneficios-sheet.svg">
                    <h6>AppSheet</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- Row END -->
      </div>
    </section>
    <!-- =======================
About service End -->

    <!-- =======================
Our Approach START -->
    <section class="pt-3">
      <div class="container">
        <!-- Research and Strategy -->
        <div class="row mb-5">
          <div class="col-lg-4">
            <h3 class="mb-4">Segurança em primeiro lugar desde o início.</h3>
          </div>
          <div class="col-lg-8">
            <p class="lead">O Google começou na nuvem e continua nela. Por isso, é natural que saibamos exatamente como
              gerenciar as empresas na nuvem com total segurança. Como o Google e nossos serviços empresariais funcionam
              na mesma infraestrutura, sua empresa terá as mesmas proteções que desenvolvemos e usamos todos os dias.
              Com uma infraestrutura global sólida, profissionais de segurança dedicados e a vontade de inovar, o Google
              supera as expectativas, oferecendo um ambiente altamente seguro, confiável e em compliance.</p>
          </div>
        </div> <!-- Row END -->

        <!-- Content Creation -->
        <div class="row mb-5">
          <div class="col-lg-4">
            <h3 class="mb-4">Proteção de dados confiável e personalizável.</h3>
          </div>
          <div class="col-lg-8">
            <p class="lead">Com o Google Workspace, os administradores têm controle empresarial das configurações dos
              apps e do sistema em um painel que simplifica a autenticação, a proteção de recursos e o controle
              operacional. Use os recursos integrados do Cloud Identity para gerenciar usuários e aplicar a autenticação
              multifator e chaves de segurança que aumentam a proteção. É possível escolher a edição do Google Workspace
              que melhor atende às necessidades de segurança da sua organização. </p>
          </div>
        </div> <!-- Row END -->

        <!-- Development & Launch -->
        <div class="row mb-5">
          <div class="col-lg-4">
            <h3 class="mb-4">Compatível com os padrões mais rigorosos.</h3>
          </div>
          <div class="col-lg-8">
            <p class="lead">A transparência está no DNA do Google. Trabalhamos muito para conquistar e manter a
              confiança dos nossos clientes com transparência. O cliente, não o Google, é o proprietário dos dados. O
              Google não vende seus dados para terceiros, não há anúncios no Google Workspace, e nunca coletamos ou
              usamos dados dos serviços do Google Workspace para fins publicitários. </p>
          </div>
        </div> <!-- Row END -->
        <!-- Development & Launch -->
        <div class="row">
          <div class="col-lg-4">
            <h3 class="mb-4">A confiança é essencial para nossa parceria.</h3>
          </div>
          <div class="col-lg-8">
            <p class="lead">O Google desenvolveu o Google Workspace de acordo com padrões rigorosos de privacidade e
              segurança baseados em práticas recomendadas do setor. Além dos sólidos compromissos contratuais que regem
              a propriedade dos dados, o uso dos dados, a segurança, a transparência e a responsabilidade, fornecemos as
              ferramentas necessárias para você atender aos requisitos de compliance e relatórios.</p>
          </div>
        </div> <!-- Row END -->
      </div>
    </section>
    <!-- =======================
Our Approach END -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-2 col-2 text-center">
            <div class="card-especializacao"><img alt="especializacao"
                src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/74318400"></div>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-10 col-10 my-auto titulo-especializacao">
            <h3>Somos Especialistas em Google Workspace</h3>
            <p class="lead"> Sucesso comprovado com um time treinado, testado e certificado em entregas de
              Google Workspace com proficiência.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- =======================
Action box START -->
    <section>
      <div class="container">
        <div class="row justify-content-md-between align-items-center border p-4">
          <!-- About Title -->
          <div class="col-md-9 col-lg-7">
            <div class="d-flex">
              <i class="bi bi-patch-check text-primary display-6 me-3"></i>
              <div>
                <h3 class="mb-0">Precisa de um serviço personalizado?</h3>
                <p class="lead mb-0">Entre em contato conosco e obtenha uma cotação, pois podemos oferecer novos
                  serviços.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-md-end mt-4 mt-md-0">
            <a routerLink="/contato" class="btn btn-lg btn-primary">Entre em contato conosco</a>
          </div>
        </div> <!-- Row END -->
      </div>
    </section>
</app-base>
