.card-beneficios {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px;
}

.card-especializacao {
  background-color: #0571bc;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.titulo-especializacao {
  padding-left: 80px;
  padding-right: 30px;
}
