<app-base [solucoes]="true">
  <!-- =======================
Inner intro START -->
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Soluções</li>
              <li class="breadcrumb-item">Cloud Services</li>
              <li class="breadcrumb-item active">SAP S/4HANA</li>
            </ol>
          </nav>
          <h2 class="display-6">Migração para o SAP S/4HANA</h2>
          <p class="lead">
            Elevando Sua Gestão Empresarial a Novos Patamares com agilidade e
            decisões em tempo real.
          </p>
        </div>
      </div>
      <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <!-- =======================
About service START -->
  <section class="pt-0 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Elevando Sua Gestão Empresarial a Novos Patamares!</h3>
          <p class="lead">
            No cenário atual, a agilidade e a tomada de decisão em tempo real
            são essenciais para o sucesso e a inovação contínua. O SAP S/4HANA
            emerge como a quarta geração da suíte de negócios da SAP, projetado
            para ser o núcleo digital de organizações que buscam modernizar seus
            sistemas ERP e alcançar a excelência operacional e analítica.
          </p>
          <p class="lead">
            Fundamentado na revolucionária plataforma de banco de dados
            in-memory SAP HANA, o SAP S/4HANA permite que sua empresa opere com
            processamento e análise em tempo real. Ao contrário dos sistemas
            tradicionais que dependiam de bancos de dados de terceiros e
            processamento em lote para análise, o SAP HANA e o S/4HANA fundem
            transações (OLTP) e análises (OLAP) em uma única plataforma. Isso
            proporciona insights instantâneos sobre indicadores chave de
            performance, dados operacionais e tendências, capacitando decisões
            proativas e orientadas por dados.
          </p>
          <p class="lead">
            O S/4HANA distingue-se por suas características que impulsionam a
            transformação digital:
          </p>
          <p class="lead">
            Modelo de Dados Simplificado: A estrutura de dados otimizada do SAP
            HANA reduz a redundância e simplifica o modelo de dados, resultando
            em acesso mais rápido aos dados, consistência aprimorada e
            desenvolvimento de aplicativos mais simples.
          </p>
          <p class="lead">
            Tecnologias Avançadas Integradas: O S/4HANA integra-se nativamente
            com tecnologias de ponta como Inteligência Artificial (IA), Machine
            Learning (ML), Internet das Coisas (IoT) e automação robótica de
            processos (RPA). Essas capacidades permitem a automação de tarefas
            repetitivas, análises preditivas e aprimoramento da tomada de
            decisão.
          </p>
          <p class="lead">
            Experiência do Usuário SAP Fiori: Com uma interface de usuário
            moderna, baseada em tiles e responsiva (Fiori UX), o S/4HANA oferece
            uma experiência intuitiva e consistente em diversos dispositivos. O
            acesso baseado em funções garante que os usuários vejam apenas as
            informações e aplicativos relevantes para suas atividades diárias,
            aumentando a produtividade e reduzindo a necessidade de treinamento
            extensivo.
          </p>
          <p class="lead">
            Análises Embutidas (Embedded Analytics): Capacidades analíticas
            integradas diretamente no sistema permitem que os usuários interajam
            com relatórios e ferramentas de análise sem a necessidade de mudar
            para um sistema separado. Isso proporciona insights operacionais em
            tempo real, diretamente a partir dos dados de transação ativos.
          </p>
          <p class="lead">
            Análises Embutidas (Embedded Analytics): Capacidades analíticas
            integradas diretamente no sistema permitem que os usuários interajam
            com relatórios e ferramentas de análise sem a necessidade de mudar
            para um sistema separado. Isso proporciona insights operacionais em
            tempo real, diretamente a partir dos dados de transação ativos.
          </p>
          <p class="lead">
            O SAP S/4HANA oferece opções de implementação flexíveis, incluindo
            modelos on-premises, cloud (pública e privada) e híbridos. As
            edições cloud, em particular, refletem a estratégia "cloud-first" da
            SAP, com ciclos de liberação mais frequentes e funcionalidades
            entregues como serviço. A transição para o SAP S/4HANA não é apenas
            uma atualização tecnológica, mas um movimento estratégico para
            remodelar o núcleo digital de uma organização. Ele serve como a base
            para a construção de uma empresa inteligente, permitindo inovação,
            diferenciação e crescimento em um ambiente de negócios competitivo.
            A SAP está encerrando o suporte para versões mais antigas como o SAP
            ECC, tornando a migração para o S/4HANA uma necessidade para muitas
            empresas. Entre em contato conosco para te apoiar nesta jornada.
          </p>
        </div>
      </div>
      <!-- Row END -->
    </div>
  </section>
  <!-- =======================
About service End -->

  <section class="bg-light pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mb-4 text-center">
            <img
              class="avatar avatar-xxxl"
              alt="especializacao"
              src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/93342854"
            />
          </h3>
        </div>
        <div class="col-lg-8">
          <h3>Somos Especialistas em Nuvem</h3>
          <p class="lead">
            Sucesso comprovado com um time treinado, testado e certificado em
            entregas de Serviços de Nuvem com proficiência.
          </p>
        </div>
      </div>
      <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Action box START -->
  <section class="bg-dark pattern-overlay-5">
    <div class="container">
      <div class="row justify-content-md-between align-items-center p-4">
        <!-- About Title -->
        <div class="col-md-9 col-lg-7">
          <div class="d-flex">
            <i class="bi bi-patch-check text-primary display-6 me-3"></i>
            <div>
              <h3 class="mb-0 text-white">
                Precisa de um serviço personalizado?
              </h3>
              <p class="lead mb-0">
                Entre em contato conosco e obtenha uma cotação, pois podemos
                oferecer novos serviços.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-end mt-4 mt-md-0">
          <a routerLink="/contato" class="btn btn-lg btn-primary"
            >Entre em contato conosco</a
          >
        </div>
      </div>
      <!-- Row END -->
    </div>
  </section>
</app-base>
