<app-base [solucoes]="true">
  <!-- =======================
Inner intro START -->
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Soluções</li>
              <li class="breadcrumb-item">Cloud Services</li>
              <li class="breadcrumb-item active">Cloud Managed Services (CMS)</li>
            </ol>
          </nav>
          <h2 class="display-6">Cloud Managed Services (CMS)</h2>
          <p class="lead">Excelência e Inovação na Gestão de Cloud.Tenha suporte especializado para gerenciar sua
            infraestrutura na nuvem.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <!-- =======================
About service START -->
  <section class="pt-0 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Levando sua Empresa a Novos Patamares na Nuvem!</h3>
          <p class="lead">O Cloud Managed Services é focado em realizar um atendimento de alto nível de governança,
            automação, inteligência e expertise dos ambientes em Cloud dos nossos clientes.</p>
          <p class="lead">Realizado por especialistas e engenheiros Cloud, devops e engenheiros de dados, o modelo de
            atendimento tem como intuito estar próximo no dia a dia da operação. Excelência na gestão contínua, inovação
            e automação dos ambientes Cloud da sua empresa.</p>
          <p class="lead">Serviços gerenciados em Cloud, garantem de maneira eficiente a gestão contínua de seus
            recursos de infraestrutura, possibilitando ambientes cada vez mais modernos, atualizados, escaláveis,
            otimizados e com a inovação em dia!</p>
          <p class="lead">Conhecemos seu negócio, entendemos seus desafios e adequamos as melhores soluções e projetos
            para seus ambientes de acordo com cada necessidade. Temos canais de comunicação rápida e diferenciada para
            clientes que possuem CMS contratado conosco.</p>
          <hgroup>
            <p class="lead">Sobre o Cloud Managed Services:</p>
          </hgroup>
          <ul class="list-unstyled lead">
            <li><i class="bi bi-check-circle text-primary"></i> Advisory e pró-ativo.</li>
            <li><i class="bi bi-check-circle text-primary"></i> Prevenir problemas e incidentes futuros.</li>
            <li><i class="bi bi-check-circle text-primary"></i> Manter disponibilidade e saúde dos serviços em nuvem.
            </li>
            <li><i class="bi bi-check-circle text-primary"></i> Conhecer com profundidade as ACNs dos clientes.</li>
            <li><i class="bi bi-check-circle text-primary"></i> Conhecer a fundo o ambiente de sua infraestrutura.</li>
            <li><i class="bi bi-check-circle text-primary"></i> Otimizar custos, segurança, compliance e performance.
            </li>
            <li><i class="bi bi-check-circle text-primary"></i> Automatizar tarefas repetitivas.</li>
            <li><i class="bi bi-check-circle text-primary"></i> Governança através de boas práticas e compliance.</li>
            <li><i class="bi bi-check-circle text-primary"></i> Atuar na resolução de incidentes e mudanças.</li>
            <li><i class="bi bi-check-circle text-primary"></i> Atuação técnica na solução de crises.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-12 col-12 mx-auto card-beneficios">
              <div class="row">
                <div class="col-12">
                  <h5>Expertise nas principais plataformas do mercado!</h5>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/gcp.png">
                </div>
                <div class="col-xl-4 mt-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/aws.webp">
                </div>
                <div class="col-xl-4 mt-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/azure.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/oci.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/ibm.png">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/do.svg">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/ac.webp">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/k8s.png">
                </div>
                <div class="col-xl-4 mt-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/okd.png">
                </div>
                <div class="col-xl-4 mt-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/rancher.svg">
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/istio.png">
                </div>
                <div class="col-xl-4 mt-4 col-lg-4 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/terraform.webp">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
About service End -->


  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mb-4 text-center"><img class="avatar avatar-xxxl" alt="especializacao"
              src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/93342854"></h3>
        </div>
        <div class="col-lg-8">
          <h3>Somos Especialistas em Nuvem</h3>
          <p class="lead"> Sucesso comprovado com um time treinado, testado e certificado em entregas de
            Serviços de Nuvem com proficiência.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Action box START -->
  <section class="bg-dark pattern-overlay-5">
    <div class="container">
      <div class="row justify-content-md-between align-items-center p-4">
        <!-- About Title -->
        <div class="col-md-9 col-lg-7">
          <div class="d-flex">
            <i class="bi bi-patch-check text-primary display-6 me-3"></i>
            <div>
              <h3 class="mb-0 text-white">Precisa de um serviço personalizado?</h3>
              <p class="lead mb-0">Entre em contato conosco e obtenha uma cotação, pois podemos oferecer novos
                serviços.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-end mt-4 mt-md-0">
          <a routerLink="/contato" class="btn btn-lg btn-primary">Entre em contato conosco</a>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
</app-base>
