<app-base [solucoes]="true">
  <!-- =======================
Inner intro START -->
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Soluções</li>
              <li class="breadcrumb-item">Cloud Services</li>
              <li class="breadcrumb-item active">Finops</li>
            </ol>
          </nav>
          <h2 class="display-6">Finops</h2>
          <p class="lead">Otimize seus Custos em Cloud com Finops. Otimize seus custos na nuvem com uma gestão
            financeira eficiente.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <!-- =======================
About service START -->
  <section class="pt-0 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Redefinindo a Gestão Financeira na Nuvem!</h3>
          <p class="lead">Na era da computação em nuvem, otimizar custos é tão crucial quanto a inovação tecnológica. Na
            FuncCloud, temos um serviço especializado que redefine a gestão financeira na nuvem, permitindo que sua
            empresa alcance eficiência operacional e economia substancial. </p>
          <p class="lead">Combinamos práticas operacionais, ferramentas certas e cultura para maximizar o valor da
            nuvem, garantindo que você pague apenas pelo que realmente usa.</p>
          <p class="lead">Chega de não ter visão, transparência, controle e custos otimizados… Veja nossos serviços de
            Finops:</p>
          <p class="lead">Otimização, Visibilidade e Previsibilidade dos Custos / Organização e Atribuição de Centro de
            Custos / Monitoramento de Custos / Ações Corretivas de Mitigação e Otimização / Análise de Arquitetura com
            Foco em Redução de Custos / Análise de Capacity / Custo Otimizado sem Perder Performance / Controles
            Orçamentários / Alertas / Commits e Reservas de Instâncias / Recursos Computacionais / Adoção e Treinamento
            de Processos / Cultura Finops</p>
          <p class="lead">Além disso, oferecemos conformidade financeira e muito mais para garantir que sua empresa
            tenha controle total sobre seus gastos na nuvem.</p>
          <p class="lead">Com nosso serviço de Finops, você pode ter a certeza de que está obtendo o máximo valor de sua
            infraestrutura em nuvem, enquanto mantém seus custos sob controle e sua operação financeira otimizada.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
About service End -->


  <section class="bg-light pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mb-4 text-center"><img class="avatar avatar-xxxl" alt="especializacao"
              src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/93342854"></h3>
        </div>
        <div class="col-lg-8">
          <h3>Somos Especialistas em Nuvem</h3>
          <p class="lead"> Sucesso comprovado com um time treinado, testado e certificado em entregas de
            Serviços de Nuvem com proficiência.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Action box START -->
  <section class="bg-dark pattern-overlay-5">
    <div class="container">
      <div class="row justify-content-md-between align-items-center p-4">
        <!-- About Title -->
        <div class="col-md-9 col-lg-7">
          <div class="d-flex">
            <i class="bi bi-patch-check text-primary display-6 me-3"></i>
            <div>
              <h3 class="mb-0 text-white">Precisa de um serviço personalizado?</h3>
              <p class="lead mb-0">Entre em contato conosco e obtenha uma cotação, pois podemos oferecer novos
                serviços.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-end mt-4 mt-md-0">
          <a routerLink="/contato" class="btn btn-lg btn-primary">Entre em contato conosco</a>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
</app-base>
