<footer class="bg-dark footer-sticky pt-6">
  <div class="container">
    <div class="row">
      <!-- Footer Widget 1 -->
      <div class="col-md-6 col-lg-4 mb-5">
        <h5 class="mb-4 text-white">Sobre a FuncCloud</h5>
        <a routerLink="/">
          <img class="col-7" src="assets/images/fc/logo-white.png" alt="Logo" />
        </a>
        <p class="pt-4 text-white">Facilitamos a Inovação na Nuvem.</p>
        <p class="pt-4 text-white">
          <a
            class="text-white"
            routerLink="/politica-privacidade"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Política de Privacidade</a
          >
        </p>
      </div>

      <!-- Footer Widget 2 -->
      <div class="col-md-6 col-lg-4 mb-5">
        <h5 class="mb-4 text-white">Parceria Google</h5>
        <a href="https://cloud.google.com/find-a-partner/partner/funccloud">
          <img
            class="col-7"
            src="assets/images/fc/google-partner.png"
            alt="Logo"
          />
        </a>
      </div>

      <!-- Footer Widget 4 -->
      <div class="col-md-6 col-lg-4 mb-5">
        <h5 class="mb-4 text-white">Mantenha contato</h5>
        <app-newsletter
          label="Inscreva-se e obtenha ofertas exclusivas."
        ></app-newsletter>
      </div>
    </div>
    <!-- Divider -->
    <div class="divider-light opacity-1"></div>

    <!-- Footer copyright START -->
    <div class="row align-items-center justify-content-md-between py-4">
      <div class="col-md-6">
        <div class="text-center text-md-start">
          ©2025 FuncCloud. Todos os direitos reservados.
        </div>
      </div>
      <div class="col-md-6">
        <ul
          class="nav justify-content-center justify-content-md-end mt-3 mt-md-0"
        >
          <li class="nav-item">
            <a
              class="nav-link text-body text-primary-hover"
              href="https://linkedin.com/company/funccloud"
              ><i class="fab fa-linkedin"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-body text-primary-hover"
              href="https://www.instagram.com/funccloud"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-body text-primary-hover pe-0"
              href="https://github.com/funccloud"
              ><i class="fab fa-github"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Footer copyright END -->
  </div>
</footer>
<app-cookies></app-cookies>

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
  <div class="scroll-line"></div>
  <span class="scoll-text">Rolar para o topo</span>
</div>
<!-- Back to top END -->
