<app-base [solucoes]="true">
  <!-- =======================
Inner intro START -->
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Soluções</li>
              <li class="breadcrumb-item">Cloud Services</li>
              <li class="breadcrumb-item active">Backup & DR</li>
            </ol>
          </nav>
          <h2 class="display-6">Backup & DR</h2>
          <p class="lead">Backup & Disaster Recovery: Proteção Essencial para seus Dados. Proteja seus dados e garanta a
            continuidade do seu negócio em caso de desastres.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <!-- =======================
About service START -->
  <section class="pt-0 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Garantindo a Continuidade dos Negócios em Qualquer Situação!</h3>
          <p class="lead">Em um mundo digital em constante evolução, a segurança dos seus dados é mais crucial do que
            nunca e você sabe o quanto seus dados são essenciais para o funcionamento do seu negócio.</p>
          <p class="lead">Apresentamos nossa Consultoria e Implementação de Cloud Backup e Disaster Recovery, uma
            solução abrangente para garantir a continuidade dos seus negócios, mesmo diante dos imprevistos.</p>
          <p class="lead">Com nossos serviços especializados, garantimos que esses ativos valiosos estejam protegidos,
            respaldados e prontos para serem recuperados em questão de minutos, não importa o que aconteça.</p>
          <p class="lead">Não é apenas sobre backup, é sobre recuperação. Nossos serviços garantem uma recuperação
            rápida e eficiente, minimizando o tempo de inatividade e permitindo que sua empresa retome suas operações
            normais sem impacto significativo.</p>
          <p class="lead">Planejamos e implementamos as políticas mais adequadas para seus ambientes, garantindo
            segurança dos dados e informações. Recuperação de Desastres (DR): Que tal ter seu ambiente replicado, pronto
            para ser promovido para produção caso seu ambiente produtivo sofra um ataque ou tenha um outage em sua
            região, edge locations, clouds híbridas ou data centers específicos?</p>
          <p class="lead">É isso que fazemos, montamos a melhor estrutura para que seu ambiente produtivo não só seja
            restaurado, mas que esteja disponível com alta velocidade e garanta a continuidade de seu negócio/operação.
          </p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
About service End -->


  <section class="bg-light pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mb-4 text-center"><img class="avatar avatar-xxxl" alt="especializacao"
              src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/93342854"></h3>
        </div>
        <div class="col-lg-8">
          <h3>Somos Especialistas em Nuvem</h3>
          <p class="lead"> Sucesso comprovado com um time treinado, testado e certificado em entregas de
            Serviços de Nuvem com proficiência.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Action box START -->
  <section class="bg-dark pattern-overlay-5">
    <div class="container">
      <div class="row justify-content-md-between align-items-center p-4">
        <!-- About Title -->
        <div class="col-md-9 col-lg-7">
          <div class="d-flex">
            <i class="bi bi-patch-check text-primary display-6 me-3"></i>
            <div>
              <h3 class="mb-0 text-white">Precisa de um serviço personalizado?</h3>
              <p class="lead mb-0">Entre em contato conosco e obtenha uma cotação, pois podemos oferecer novos
                serviços.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-end mt-4 mt-md-0">
          <a routerLink="/contato" class="btn btn-lg btn-primary">Entre em contato conosco</a>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
</app-base>
