<!-- =======================
Main Banner START -->
<section class="position-relative bg-dark p-0">
  <!-- Social sites link left -->
  <div class="position-absolute top-50 start-0 translate-middle z-index-9 ms-4 d-none d-xxl-block">
    <div class="list-group-inline list-unstyled rotate-270">
      <a href="https://linkedin.com/company/funccloud" class="list-group-item text-white bg-transparent mt-4"><i
          class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/funccloud" class="list-group-item text-white bg-transparent mt-4"><i
          class="fab fa-instagram"></i></a>
      <a href="https://github.com/funccloud" class="list-group-item text-white bg-transparent mt-4"><i
          class="fab fa-github"></i></a>
    </div>
  </div>

  <!-- Scoll Down -->
  <div class="scroll-down scroll-down-light m-5 d-none d-md-block">
    <div class="scroll-line"></div>
    <span class="scoll-text">Rolar para baixo</span>
  </div>

  <!-- Banner START -->
  <div
    class="tiny-slider dots-white dots-bordered dots-end arrow-bordered arrow-large arrow-round arrow-start-bottom arrow-md-none">
    <div id="home-slider" class="tiny-slider-inner vh-500 vh-sm-700 vh-xl-900" data-autoplay="true"
      data-autoplaytime="7000" data-gutter="0" data-arrow="true" data-dots="true" data-items="1">

      <!-- Slide 1 START -->
      <div class="vh-100 bg-dark-overlay-4 bg-white"
        [style]="{backgroundImage: 'url(/assets/images/fc/slider01.jpeg)', backgroundPosition: 'center center', backgroundSize: 'cover'}">
        <div class="container vh-100">
          <div class="row d-flex vh-100">
            <div class="col-lg-12 justify-content-center align-self-center align-items-start">
              <div class="slider-content text-start">
                <h2 class="animate__animated animate__fadeInUp animate__delay-1s text-white mt-2 my-md-4">
                  Potencialize o futuro digital da sua empresa com</h2>
                <h2 class="text-break animate__animated animate__fadeInUp animate__delay-2s display-4 text-white">
                  <span class="text-white-stroke text-primary-shadow d-block">Cloud
                    Computing</span>
                </h2>

                <div class="animate__animated animate__fadeInUp animate__delay-4s mt-3"><a
                    routerLink="/solucoes/cloud-services/cloud-managed-services" class="btn btn-primary">Conte
                    Conosco</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide 1 END -->

      <!-- Slide 2 START -->
      <div class="vh-100 bg-dark-overlay-4 bg-white"
        [style]="{backgroundImage: 'url(/assets/images/fc/slider03.jpeg)', backgroundPosition: 'center center', backgroundSize: 'cover'}">
        <div class="container vh-100">
          <div class="row d-flex vh-100">
            <div class="col-lg-12 justify-content-center align-self-center align-items-start">
              <div class="slider-content text-start">
                <h2 class="animate__animated animate__fadeInUp animate__delay-1s text-white mt-2 my-md-4">
                  Use o poder da
                </h2>
                <h2 class="text-break animate__animated animate__fadeInUp animate__delay-2s display-4 text-white">
                  <span class="text-white-stroke text-primary-shadow d-block">IA
                    Generativa</span>
                </h2>
                <h2 class="animate__animated animate__fadeInUp animate__delay-1s text-white mt-2 my-md-4">
                  para impulsionar a transformação digital
                </h2>
                <div class="animate__animated animate__fadeInUp animate__delay-4s mt-3"><a
                    routerLink="/solucoes/cloud-services/ia-ml" class="btn btn-primary">Conte Conosco</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide 2 END -->

      <!-- Slide 3 START -->
      <div class="vh-100 bg-dark-overlay-4 bg-white"
        [style]="{backgroundImage: 'url(/assets/images/fc/slider04.jpeg)', backgroundPosition: 'center center', backgroundSize: 'cover'}">
        <div class="container vh-100">
          <div class="row d-flex vh-100">
            <div class="col-lg-12 justify-content-center align-self-center align-items-start">
              <div class="slider-content text-start">
                <h2 class="animate__animated animate__fadeInUp animate__delay-1s text-white mt-2 my-md-4">
                  Acelere a inovação
                </h2>
                <h2 class="text-break animate__animated animate__fadeInUp animate__delay-2s display-4 text-white">
                  <span class="text-white-stroke text-primary-shadow d-block">Reduza
                    Custos</span>
                </h2>
                <h2 class="animate__animated animate__fadeInUp animate__delay-1s text-white mt-2 my-md-4">
                  e ganhe escalabilidade com a nossa parceria
                </h2>
                <div class="animate__animated animate__fadeInUp animate__delay-4s mt-3"><a
                    routerLink="/solucoes/cloud-services/finops" class="btn btn-primary">Conte Conosco</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide 3 END -->

      <!-- Slide 4 START -->
      <div class="vh-100 bg-dark-overlay-4 bg-white"
        [style]="{backgroundImage: 'url(/assets/images/fc/slider02.jpeg)', backgroundPosition: 'center center', backgroundSize: 'cover'}">
        <div class="container vh-100">
          <div class="row d-flex vh-100">
            <div class="col-lg-12 justify-content-center align-self-center align-items-start">
              <div class="slider-content text-start">
                <h2 class="animate__animated animate__fadeInUp animate__delay-1s text-white mt-2 my-md-4">
                  Unindo forças para transfomar o seu negócio</h2>
                <h2 class="animate__animated animate__fadeInUp animate__delay-2s display-4 text-white">
                  <span class="text-white-stroke text-primary-shadow d-block">Sua
                    visão e nossa expertise</span>
                </h2>

                <div class="animate__animated animate__fadeInUp animate__delay-4s mt-3"><a routerLink="/contato"
                    class="btn btn-primary">Coverse Conosco</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide 4 END -->

    </div>
  </div>
</section>
<!-- =======================
Main Banner END -->
