<!-- =======================
Inner intro START -->
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Cases de Sucesso</li>
            <li class="breadcrumb-item active">{{title()}}</li>
          </ol>
        </nav>
        <p class="lead text-center"><img alt="c.alt" class="w-50" src="{{image()}}"></p>
        <h2 class="display-6 text-center">{{title()}}</h2>
      </div>
    </div> <!-- Row END -->
  </div>
</section>
<!-- =======================
Inner intro END -->
<section class="pt-3 bg-light">
  <div class="container">
    <!-- Research and Strategy -->
    <div class="row mb-5">
      <div class="col-lg-2">
        <h3 class="mb-4">Objetivo</h3>
      </div>
      <div class="col-lg-10">
        <p class="lead">{{objective()}}</p>
      </div>
    </div> <!-- Row END -->

    <!-- Content Creation -->
    <div class="row mb-5">
      <div class="col-lg-2">
        <h3 class="mb-4">Desafio</h3>
      </div>
      <div class="col-lg-10">
        <p class="lead">{{desafio()}}</p>
      </div>
    </div> <!-- Row END -->

    <!-- Development & Launch -->
    <div class="row mb-5">
      <div class="col-lg-2">
        <h3 class="mb-4">Solução</h3>
      </div>
      <div class="col-lg-10">
        <p class="lead">{{solucao()}}</p>
      </div>
    </div> <!-- Row END -->
    <!-- Development & Launch -->
    <div class="row">
      <div class="col-lg-2">
        <h3 class="mb-4">Resultados</h3>
      </div>
      <div class="col-lg-10">
        <p class="lead">{{resultados()}}</p>
      </div>
    </div> <!-- Row END -->
  </div>
</section>
