<app-base [solucoes]="true">
  <!-- =======================
Inner intro START -->
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Soluções</li>
              <li class="breadcrumb-item">Cloud Services</li>
              <li class="breadcrumb-item active">Posture Review (Segurança & Compliance)</li>
            </ol>
          </nav>
          <h2 class="display-6">Posture Review (Segurança & Compliance)</h2>
          <p class="lead">Cloud Posture Review: Garantindo Segurança e Conformidade na Nuvem.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <!-- =======================
About service START -->
  <section class="pt-0 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Protegendo sua Presença Digital em um Ambiente Complexo!</h3>
          <p class="lead">Em um ambiente digital cada vez mais complexo, a segurança na nuvem é uma prioridade
            inegociável.</p>
          <p class="lead">Nosso serviço de Cloud Posture Review é uma abordagem especializada que garante que sua
            presença na nuvem seja robusta, resiliente e alinhada com as melhores práticas de segurança do mercado.</p>
          <p class="lead">Avaliação Profunda da Postura de Segurança: A segurança na nuvem vai além de meras
            configurações.</p>
          <p class="lead">Com nossa Consultoria de Cloud Posture Review, realizamos uma avaliação profunda da sua
            postura de segurança, identificando potenciais vulnerabilidades e garantindo que todos os aspectos da sua
            infraestrutura na nuvem estejam devidamente protegidos e em conformidade.</p>
          <p class="lead">Implementação de Medidas Corretivas Efetivas: Identificamos, mas também agimos. Nossa equipe
            não apenas aponta potenciais problemas de segurança, mas também implementa medidas corretivas efetivas.</p>
          <p class="lead">Personalização para seu Ambiente Único: Nossa abordagem é altamente personalizada para
            garantir que sua infraestrutura na nuvem esteja constantemente atualizada, segura contra ataques e ajustada
            às particularidades do seu ambiente, setor e requisitos regulatórios.</p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-12 col-12 mx-auto card-beneficios">
              <div class="row">
                <div class="col-12">
                  <h5>Segurança & Compliance</h5>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="vault" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-vault.svg">
                  <h6>Vault</h6>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-4 text-center">
                  <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-12 mx-auto"><img alt="gerenciamento-endpoints"
                        class="w-100" src="assets/images/fc/gws/i-beneficios-gerenciamento-endpoints.svg">
                    </div>
                    <div class="col-12 p-0 text-center">
                      <h6>Gerenciamento de endpoints</h6>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="admin" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-admin.svg">
                  <h6>Admin</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheets" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-sheets.svg">
                  <h6>Sheets</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="slides" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-slides.svg">
                  <h6>Slides</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sites" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-sites.svg">
                  <h6>Sites</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="docs" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-docs.svg">
                  <h6>Docs</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="forms" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-forms.svg">
                  <h6>Forms</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="keep" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-keep.svg">
                  <h6>Keep</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="drive" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-drive.svg">
                  <h6>Drive</h6>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="agenda" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-agenda.svg">
                  <h6>Agenda</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="chat" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-chat.svg">
                  <h6>Chat</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="meet" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-meet.svg">
                  <h6>Meet</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="mail" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-mail.svg">
                  <h6>Mail</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="voice" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-voice.svg" style="padding: 10px;">
                  <h6>Voice</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/gws/i-beneficios-sheet.svg">
                  <h6>AppSheet</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/data_loss_prevention_api.png">
                  <h6>DLP</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/cloud_monitoring.png">
                  <h6>Cloud Monitoring</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/identity_and_access_management.png">
                  <h6>Cloud IAM</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/identity_platform.png">
                  <h6>Identity Platform</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/identity-aware_proxy.png">
                  <h6>Identity Aware Proxy</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/policy_analyzer.png">
                  <h6>Policy Analyzer</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/security_command_center.png">
                  <h6>Security Command Center</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/secret_manager.png">
                  <h6>Secret Manager</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/key_management_service.png">
                  <h6>KMS</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/network_security.png">
                  <h6>Network Security</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/cloud_security_scanner.png">
                  <h6>Cloud Security Scanner</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/error_reporting.png">
                  <h6>Error Reporting</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/trace.png">
                  <h6>Trace</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/cloud_sql.png">
                  <h6>Cloud SQL</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/cloud_storage.png">
                  <h6>Cloud Storage</h6>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-4 text-center"><img alt="sheet" class="w-100"
                    src="assets/images/fc/sec/google_kubernetes_engine.png">
                  <h6>Google Kubernetes Engine</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
About service End -->


  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mb-4 text-center"><img class="avatar avatar-xxxl" alt="especializacao"
              src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/93342854"></h3>
        </div>
        <div class="col-lg-8">
          <h3>Somos Especialistas em Nuvem</h3>
          <p class="lead"> Sucesso comprovado com um time treinado, testado e certificado em entregas de
            Serviços de Nuvem com proficiência.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Action box START -->
  <section class="bg-dark pattern-overlay-5">
    <div class="container">
      <div class="row justify-content-md-between align-items-center p-4">
        <!-- About Title -->
        <div class="col-md-9 col-lg-7">
          <div class="d-flex">
            <i class="bi bi-patch-check text-primary display-6 me-3"></i>
            <div>
              <h3 class="mb-0 text-white">Precisa de um serviço personalizado?</h3>
              <p class="lead mb-0">Entre em contato conosco e obtenha uma cotação, pois podemos oferecer novos
                serviços.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-end mt-4 mt-md-0">
          <a routerLink="/contato" class="btn btn-lg btn-primary">Entre em contato conosco</a>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
</app-base>