/*--------------------------------------------------------------
# WhatsApp
--------------------------------------------------------------*/
.whatsapp-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 48px;
    width: 150px;
    z-index: 1999;
    bottom: 50vh;
    right: -100px;
    padding-left: 5px;
    border-radius: 30px 0 0 30px;
    background-color: #00BEA7;
    transition: right 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(27, 60, 78, 0.39);

    &:hover {
        right: 0;
    }
}

.whatsapp-icon-container {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    color: #fff;
}

.whatsapp-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a.whatsapp-text {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    padding-top: 2px;
}

.wa-icon {
    font-size: 32px;
    padding-left: 8px;
}

.svc-icons {
    z-index: 500;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

@media (max-width: 767px) {
    .whatsapp-container {
        bottom: 25vh;

        &:hover {
            right: -100px;
        }
    }
}