{{ define "main" }}

{{ partial "page-header.html" .}}

<section class="section">
  <div class="container">
    <div class="row gy-5">
      <div class="col-lg-6">
        <div class="content">{{ .Content }}</div>
      </div>
      <div class="col-lg-6">
        <form id="contactForm" name="sentMessage" novalidate="" method="POST">
          <div class="control-group mb-4">
            <div class="form-group floating-label-form-group controls">
              <label for="name" class="sr-only control-label">Seu nome</label>
              <input id="name" type="text" placeholder="Nome" required=""
                data-validation-required-message="Por favor, diga-nos o seu nome" class="form-control input-lg"><span
                class="help-block text-danger"></span>
            </div>
          </div>
          <div class="control-group mb-4">
            <div class="form-group floating-label-form-group controls">
              <label for="email" class="sr-only control-label">Seu e-mail</label>
              <input id="email" type="email" placeholder="Email" required=""
                data-validation-required-message="Por favor, indique o seu e-mail para resposta"
                data-validation-email-message="Email inválido." class="form-control input-lg"><span
                class="help-block text-danger"></span>
            </div>
          </div>
          <div class="control-group mb-4">
            <div class="form-group floating-label-form-group controls">
              <label for="phone" class="sr-only control-label">Telefone para contato</label>
              <input id="phone" type="tel" placeholder="Telefone" required=""
                data-validation-required-message="Por favor, indique um telefone para contato"
                class="form-control input-lg"><span class="help-block text-danger"></span>
            </div>
          </div>
          <div class="control-group mb-4">
            <div class="form-group floating-label-form-group controls">
              <label for="message" class="sr-only control-label">Mensagem</label>
              <textarea id="message" rows="2" placeholder="Mensagem" required=""
                data-validation-required-message="Por favor, escreva a sua mensagem." aria-invalid="false"
                class="form-control input-lg"></textarea><span class="help-block text-danger"></span>
            </div>
          </div>
          <div class="text-right">
            <button class="btn btn-primary" type="submit">Enviar</button>
          </div>
          <div class="pt-3" id="success"></div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}