<app-base [institucional]="true">
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">FuncCloud</li>
              <li class="breadcrumb-item active">Nossas Certificações</li>
            </ol>
          </nav>
          <h2 class="display-6">Nossas certificações</h2>
          <p class="lead">Nossa expertise em configurar, implantar e gerenciar efetivamente as ferramentas e recursos do
            Google Workspace garante que nossos clientes alcancem o máximo de produtividade, otimizem seus processos,
            fortaleçam a comunicação, promovam a colaboração e desfrutem de maior mobilidade em seus negócios.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <section class="bg-light pt-0">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <!-- Card item START -->
        <div class="col-md-6 col-lg-4 mb-30">
          <div class="card bg-light">
            <div class="position-relative">
              <!-- Card Image -->
              <img class="card-img-top rounded-0"
                src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/74318400"
                alt="card image">
            </div>
            <!-- Card body -->
            <div class="card-body position-absolute bottom-0 w-100 card-element-hover">
              <div class="p-4 bg-white">
                <h6 class="card-title">Professional Google Workspace Administrator</h6>
                <p class="card-text">Um administrador profissional do Google Workspace transforma os objetivos
                  comerciais em configurações, políticas e práticas de segurança tangíveis relacionadas a usuários,
                  conteúdo e integrações. Por meio de sua compreensão da infraestrutura da organização, os
                  administradores do Google Workspace permitem que as pessoas trabalhem juntas, se comuniquem e acessem
                  dados de maneira segura e eficiente. Operando com uma mentalidade de engenharia e soluções, eles usam
                  ferramentas, linguagens de programação e APIs para automatizar fluxos de trabalho. Eles procuram
                  oportunidades para educar os usuários finais e aumentar a eficiência operacional enquanto defendem o
                  Google Workspace e o conjunto de ferramentas do Google.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card item END -->
        <!-- Card item START -->
        <div class="col-md-6 col-lg-4 mb-30">
          <div class="card bg-light">
            <div class="position-relative">
              <!-- Card Image -->
              <img class="card-img-top rounded-0"
                src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/93342854"
                alt="card image">
            </div>
            <!-- Card body -->
            <div class="card-body position-absolute bottom-0 w-100 card-element-hover">
              <div class="p-4 bg-white">
                <h6 class="card-title">Professional Cloud Architect</h6>
                <p class="card-text">Um arquiteto de nuvem profissional certificado pelo Google Cloud permite que as
                  organizações aproveitem as tecnologias do Google Cloud. Por meio de uma compreensão da arquitetura de
                  nuvem e da tecnologia do Google, esse indivíduo pode projetar, desenvolver e gerenciar soluções
                  robustas, seguras, dimensionáveis, altamente disponíveis e dinâmicas para impulsionar os objetivos de
                  negócios.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Card item END -->
      </div>
    </div>
  </section>
</app-base>
