<app-base [solucoes]="true">
  <!-- =======================
Inner intro START -->
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Soluções</li>
              <li class="breadcrumb-item">Cloud Services</li>
              <li class="breadcrumb-item active">Devops & SRE</li>
            </ol>
          </nav>
          <h2 class="display-6">Devops & SRE</h2>
          <p class="lead">DevOps & SRE: Impulsionando a Eficiência e a Inovação. Acelere o desenvolvimento e a entrega
            de software com práticas modernas.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <!-- =======================
About service START -->
  <section class="pt-0 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Harmonizando Desenvolvimento e Operações na Nuvem!</h3>
          <p class="lead">Na era da inovação e desenvolvimento ágil, a harmonia entre desenvolvimento e operações é
            essencial.</p>
          <p class="lead">Nosso serviço de DevOps & SRE consiste em construir uma estratégia para acelerar o
            desenvolvimento, melhorar a qualidade do software, garantir confiabilidade, observabilidade e eficiência
            operacional na nuvem.</p>
          <p class="lead">Sincronia Perfeita: O DevOps é mais do que uma prática, é uma filosofia que integra equipes de
            desenvolvimento e operações para impulsionar a colaboração e eficiência.</p>
          <p class="lead">Nosso serviço visa criar uma sincronia perfeita entre essas duas disciplinas na nuvem,
            resultando em ciclos de desenvolvimento mais rápidos e entregas mais confiáveis.</p>
          <p class="lead">Pilares de atuação do nosso serviço de DevOps & SRE:</p>
          <p class="lead">Gestão de Pipelines / Kubernetes / Docker / Orquestração / Microserviços / Automação de
            Processos / Automação de Configurações / Infrastructure As A Code (IaC) / Continuous Integration (CI) /
            Continuous Delivery (CD) / Builds Automatizados / Testes Automatizados / Implantações Automatizadas /
            Rollbacks Automatizados / Observabilidade / Criação de Pipelines / DevSecOps.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
About service End -->


  <section class="bg-light pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mb-4 text-center"><img class="avatar avatar-xxxl" alt="especializacao"
              src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/93342854"></h3>
        </div>
        <div class="col-lg-8">
          <h3>Somos Especialistas em Nuvem</h3>
          <p class="lead"> Sucesso comprovado com um time treinado, testado e certificado em entregas de
            Serviços de Nuvem com proficiência.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Action box START -->
  <section class="bg-dark pattern-overlay-5">
    <div class="container">
      <div class="row justify-content-md-between align-items-center p-4">
        <!-- About Title -->
        <div class="col-md-9 col-lg-7">
          <div class="d-flex">
            <i class="bi bi-patch-check text-primary display-6 me-3"></i>
            <div>
              <h3 class="mb-0 text-white">Precisa de um serviço personalizado?</h3>
              <p class="lead mb-0">Entre em contato conosco e obtenha uma cotação, pois podemos oferecer novos
                serviços.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-end mt-4 mt-md-0">
          <a routerLink="/contato" class="btn btn-lg btn-primary">Entre em contato conosco</a>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
</app-base>
