<app-base [solucoes]="true">
  <!-- =======================
Inner intro START -->
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Soluções</li>
              <li class="breadcrumb-item">Cloud Services</li>
              <li class="breadcrumb-item active">IA & ML</li>
            </ol>
          </nav>
          <h2 class="display-6">IA & ML</h2>
          <p class="lead">Revolucione seu Negócio com IA & ML. Potencialize suas operações com a inteligência artificial
            e machine learning.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <!-- =======================
About service START -->
  <section class="pt-0 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Descubra o Potencial Ilimitado da Inovação Digital!</h3>
          <p class="lead">Transformamos desafios de negócios em soluções inovadoras com nossos serviços de Inteligência
            Artificial.</p>
          <p class="lead">Seja através da inteligência artificial, generative AI e/ou machine learning, nós te ajudamos
            a descobrir o potencial ilimitado da inteligência artificial e do aprendizado de máquina com a nossa
            expertise nesse tipo de solução combinada com análise criteriosa do negócio!</p>
          <p class="lead">Na era digital em constante evolução, a inovação é a chave para o sucesso.</p>
          <p class="lead">Apresentamos soluções personalizadas em IA que transformam dados em insights valiosos,
            impulsionando o crescimento e a eficiência dos seus negócios.</p>
          <p class="lead">A IA não é o futuro dos negócios é o presente. Nossa equipe de especialistas está pronta para
            guiá-lo através da jornada de implementação, destacando como algoritmos avançados podem aprimorar processos,
            automatizar tarefas e fornecer uma vantagem competitiva incomparável.</p>
          <p class="lead">Seja na busca por insights mais profundos, na automação de processos ou na tomada de decisões
            estratégicas, IA e Machine Learning são a chave para desbloquear o potencial do seu negócio.</p>
          <p class="lead">Aqui na FuncCloud, não apenas acompanhamos as tendências, nós as definimos. Junte-se a nós e
            embarque na jornada rumo a um futuro mais inteligente e eficiente. Transforme dados em oportunidades.
            Transforme sua visão em realidade. Entre em contato conosco hoje e descubra o que a inteligência artificial
            pode fazer por você!</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
About service End -->


  <section class="bg-light pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mb-4 text-center"><img class="avatar avatar-xxxl" alt="especializacao"
              src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/93342854"></h3>
        </div>
        <div class="col-lg-8">
          <h3>Somos Especialistas em Nuvem</h3>
          <p class="lead"> Sucesso comprovado com um time treinado, testado e certificado em entregas de
            Serviços de Nuvem com proficiência.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Action box START -->
  <section class="bg-dark pattern-overlay-5">
    <div class="container">
      <div class="row justify-content-md-between align-items-center p-4">
        <!-- About Title -->
        <div class="col-md-9 col-lg-7">
          <div class="d-flex">
            <i class="bi bi-patch-check text-primary display-6 me-3"></i>
            <div>
              <h3 class="mb-0 text-white">Precisa de um serviço personalizado?</h3>
              <p class="lead mb-0">Entre em contato conosco e obtenha uma cotação, pois podemos oferecer novos
                serviços.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-end mt-4 mt-md-0">
          <a routerLink="/contato" class="btn btn-lg btn-primary">Entre em contato conosco</a>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
</app-base>
