<app-base [solucoes]="true">
  <!-- =======================
Inner intro START -->
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Soluções</li>
              <li class="breadcrumb-item">Cloud Services</li>
              <li class="breadcrumb-item active">Suporte & Monitoramento</li>
            </ol>
          </nav>
          <h2 class="display-6">Suporte & Monitoramento</h2>
          <p class="lead">Suporte & Monitoramento Cloud: Mantendo sua Empresa nas Alturas. Tenha suporte técnico e
            monitore o desempenho da sua infraestrutura.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <!-- =======================
About service START -->
  <section class="pt-0 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Voando Sempre com Desempenho Otimizado e Tranquilidade na Nuvem!</h3>
          <p class="lead">Suporte confiável e monitoramento eficiente na nuvem é essencial em um ambiente dinâmico e
            ágil.</p>
          <p class="lead">Nossos serviços especializados de Suporte e Monitoramento Cloud garantem que sua presença
            digital esteja sempre nas alturas, com desempenho otimizado e problemas detectados antes mesmo de afetarem
            suas operações.</p>
          <p class="lead">Com nosso Suporte e Monitoramento de Cloud, oferecemos as asas que sua empresa precisa para
            alcançar novos patamares. Mantenha-se nas alturas, enquanto nós cuidamos da saúde e desempenho da sua
            infraestrutura na nuvem.</p>
          <p class="lead">Temos a opção de suporte e monitoramento ideal para você! 24x7 ou 8x5, você escolhe, o mais
            importante é que estaremos aqui para te apoiar e atender incidentes e requisições, na maioria das vezes
            detectadas pró-ativamente antes que sua operação sinta!</p>
          <p class="lead">Construímos o melhor cenário de monitoramento para sua empresa e entregamos um mapa de
            monitoramento com todos os componentes monitorados, thresholds estabelecidos e ações runbook para cada item.
          </p>
          <p class="lead">Aqui não tem como o alerta passar despercebido! Nosso monitoramento é automático e quando
            implementado abre diretamente um chamado no nosso ITSM, que por sua vez, será tratado pelos especialistas.
          </p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
About service End -->


  <section class="bg-light pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mb-4 text-center"><img class="avatar avatar-xxxl" alt="especializacao"
              src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/93342854"></h3>
        </div>
        <div class="col-lg-8">
          <h3>Somos Especialistas em Nuvem</h3>
          <p class="lead"> Sucesso comprovado com um time treinado, testado e certificado em entregas de
            Serviços de Nuvem com proficiência.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Action box START -->
  <section class="bg-dark pattern-overlay-5">
    <div class="container">
      <div class="row justify-content-md-between align-items-center p-4">
        <!-- About Title -->
        <div class="col-md-9 col-lg-7">
          <div class="d-flex">
            <i class="bi bi-patch-check text-primary display-6 me-3"></i>
            <div>
              <h3 class="mb-0 text-white">Precisa de um serviço personalizado?</h3>
              <p class="lead mb-0">Entre em contato conosco e obtenha uma cotação, pois podemos oferecer novos
                serviços.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-end mt-4 mt-md-0">
          <a routerLink="/contato" class="btn btn-lg btn-primary">Entre em contato conosco</a>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
</app-base>
