<app-base [solucoes]="true">
  <!-- =======================
Inner intro START -->
  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Soluções</li>
              <li class="breadcrumb-item">Cloud Services</li>
              <li class="breadcrumb-item active">Data & Analytics</li>
            </ol>
          </nav>
          <h2 class="display-6">Data & Analytics</h2>
          <p class="lead">Transforme seu negócio com a Engenharia de Dados. Extraia insights valiosos dos seus dados com
            soluções avançadas de análise.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Inner intro END -->
  <!-- =======================
About service START -->
  <section class="pt-0 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Descubra o potencial dos dados para impulsionar sua empresa!</h3>
          <p class="lead">No mundo movido por dados, a chave para o sucesso está na habilidade de interpretar
            informações valiosas. Personalizamos a solução para seu desafio: Cada empresa enfrenta desafios únicos, e é
            por isso que oferecemos soluções totalmente personalizadas.</p>
          <p class="lead">Seja para otimizar operações, compreender o comportamento do cliente ou antecipar tendências
            de mercado, nossos especialistas em Engenharia de Dados desenvolvem estratégias sob medida para atender às
            suas necessidades específicas.</p>
          <p class="lead">Na busca por vantagens competitivas, nosso serviço de engenharia de dados é a solução para
            alcançar o sucesso. Não apenas oferecemos insights, oferecemos uma visão transformadora que redefine a forma
            como sua empresa utiliza os dados.</p>
          <p class="lead">Seja proativo na gestão e interpretação dos seus recursos mais valiosos. Entre em contato
            conosco hoje e descubra como transformar dados em oportunidades reais. Sua jornada para obter os melhores
            insights por meios de dados começa aqui!</p>
          <p class="lead">Oferecemos uma ampla gama de serviços de Engenharia de Dados:</p>
          <p class="lead">Migração de Dados / Gestão de Dados / Administração de Bancos de Dados / Relatórios /
            Dashboards / BI / Fundação de Dados / Coleta, Armazenamento, Processamento e Orquestração de Fluxos de
            Trabalho / Transformação de Dados / Segurança / Privacidade / Análise / Monitoramento / Desempenho /
            Colaboração / Comunicação.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
About service End -->


  <section class="bg-light pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3 class="mb-4 text-center"><img class="avatar avatar-xxxl" alt="especializacao"
              src="https://api.accredible.com/v1/frontend/credential_website_embed_image/badge/93342854"></h3>
        </div>
        <div class="col-lg-8">
          <h3>Somos Especialistas em Nuvem</h3>
          <p class="lead"> Sucesso comprovado com um time treinado, testado e certificado em entregas de
            Serviços de Nuvem com proficiência.</p>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Action box START -->
  <section class="bg-dark pattern-overlay-5">
    <div class="container">
      <div class="row justify-content-md-between align-items-center p-4">
        <!-- About Title -->
        <div class="col-md-9 col-lg-7">
          <div class="d-flex">
            <i class="bi bi-patch-check text-primary display-6 me-3"></i>
            <div>
              <h3 class="mb-0 text-white">Precisa de um serviço personalizado?</h3>
              <p class="lead mb-0">Entre em contato conosco e obtenha uma cotação, pois podemos oferecer novos
                serviços.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-md-end mt-4 mt-md-0">
          <a routerLink="/contato" class="btn btn-lg btn-primary">Entre em contato conosco</a>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
</app-base>