<!-- =======================
  Testimonials START -->
<section class="p-0">
  <div class="container">
    <div class="row position-relative">
      <!-- Title -->
      <div class="col-sm-8 mb-3 mx-auto text-center pt-7">
        <h2 class="display-5 mb-5 text-dark-stroke">Depoimentos</h2>
      </div>
      <!-- Testimonials -->
      <div class="col-md-10 mx-auto text-center pb-7">
        <div class="tiny-slider arrow-md-none arrow-bordered arrow-large arrow-round">
          <div id="testimonials-slider" class="tiny-slider-inner" data-gutter="0" data-autoplay="true" data-arrow="true"
            data-dots="false" data-items="1">

            <!-- Testimonial item -->
            <div class="item px-3 px-md-6">
              <div class="position-absolute top-50 start-50 translate-middle display-1 text-body z-index-n9 opacity-1">
                <i class="fas fa-quote-left"></i>
              </div>
              <div class="avatar"><img class="avatar-img rounded-circle" src="/assets/images/fc/magrin.jpg"
                  alt="avatar"></div>
              <p class="lead">O trabalho de desenvolvimento da Funccloud foi fundamental para
                conquistarmos um grande cliente. Sempre atenciosos com nossas dúvidas, a equipe
                foi ágil na execução e comprometidos com nosso sucesso. Estamos muito
                satisfeitos com o trabalho.</p>
              <h6 class="mb-0 mt-3">Lucas Magrin</h6>
              <span class="small">Head de inovação na Tapps Ventures</span>
            </div>

            <!-- Testimonial item -->
            <div class="item px-3 px-md-6">
              <div class="position-absolute top-50 start-50 translate-middle display-1 text-body z-index-n9 opacity-1">
                <i class="fas fa-quote-left"></i>
              </div>
              <div class="avatar"><img class="avatar-img rounded-circle" src="/assets/images/fc/rick.jpg" alt="avatar">
              </div>
              <p class="lead">Ao apresentarmos nosso site à Funccloud, logo de início já
                detectaram diversos pontos de melhoria, e ao final, sentimos o resultado
                imediato como, maiores visualizações. Com isso, alavancamos nossas vendas,
                através de nosso e-comerce que é uma ferramenta muito importante para o
                faturamento de nossa empresa.</p>
              <h6 class="mb-0 mt-3">Ricardo Curia</h6>
              <span class="small">CEO da Astral</span>
            </div>

            <!-- Testimonial item -->
            <div class="item px-3 px-md-6">
              <div class="position-absolute top-50 start-50 translate-middle display-1 text-body z-index-n9 opacity-1">
                <i class="fas fa-quote-left"></i>
              </div>
              <div class="avatar"><img class="avatar-img rounded-circle" src="/assets/images/fc/marcos.jpg"
                  alt="avatar"></div>
              <p class="lead">Sempre fomos muito bem atendidos pela equipe da Funccloud, pois
                estão sempre prontos a nos atender e tirar nossas dúvidas, dando soluções para
                os problemas, auxiliando nossos colaboradores! O atendimento é perfeito!</p>
              <h6 class="mb-0 mt-3">Antonio Marcos</h6>
              <span class="small">CEO do Grupo Siena</span>
            </div>

          </div>
        </div>
      </div>
    </div><!-- row END -->
  </div>
</section>
<!-- =======================
  Testimonials END -->