<app-base>
  <div class="bg-light">
    <!-- Assina o postData$ -->
    @if (postData$ | async; as postData) {
      <!-- Verifica se postData não é null (sucesso) -->
      @if (postData) {
        <!-- Header Section -->
        <section class="bg-parallax bg-dark-overlay-4 py-5 py-md-8"
          style="background: url({{postData.metadata.image}}) no-repeat center center; background-size: cover;">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h1 class="display-5 text-white">{{ postData.metadata.title }}</h1>
                <p class="text-white">Por {{ postData.metadata.author }} em {{ postData.metadata.date | date }}</p>
                <p class="text-muted">
                  <span class="d-flex flex-wrap gap-1 justify-content-center">
                    @for (tag of postData.metadata.tags; track tag) {
                      <span class="badge bg-primary lead">{{ tag }}</span>
                    }
                  </span>
                </p>
              </div>
            </div>
          </div>
        </section>
        <div class="container py-5">
          <div class="lead">
            <markdown [data]="postData.content"></markdown>
          </div>
          <a routerLink="/blog" class="mt-5"><i class="bi bi-arrow-left me-2"></i>Voltar para o Blog</a>
        </div>
      } @else {
        <div class="alert alert-warning" role="alert">
          Post não encontrado.
          <a routerLink="/blog" class="alert-link">Voltar para o Blog</a>.
        </div>
      }
    } @else {
      <!-- Verifica se o valor emitido foi null (erro) -->
      @if ((postData$ | async) === null) {
        <!-- Template de erro/não encontrado -->
        <div class="alert alert-warning" role="alert">
          Post não encontrado ou ocorreu um erro ao carregar.
          <a routerLink="/blog" class="alert-link">Voltar para o Blog</a>.
        </div>
      } @else {
        <div class="d-flex justify-content-center mt-5">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Carregando post...</span>
          </div>
        </div>
      }
    }


    <!-- Template de carregamento -->

    <!-- Template específico para caso postData seja null (opcional, pode ser combinado com o de erro) -->
  </div>
</app-base>